@import "color";

$inputWidth: 75%;

.dashboardModal {
    background-color: whitesmoke;
    position: fixed;
    width: 50%;
    min-width: 300px;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nameSelect {
    width: $inputWidth;
    z-index: 2;
}

.createDashboardButton {
    margin-top: 15px;
}

.dashboardUrlInput{
    width: $inputWidth;
}

.dashboardUrl {
    color: #263238 !important;
    border-color: #263238 !important;
    border-width: 2px !important;
}

.dashboardLimitWarning {
    color: $red;
    width: 90%;
    text-align: center;
    font-size: small;
}