body {
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
}

.card {
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  padding: 16px 10px;
  margin: 8px;
  background-color: white;
}

a {
  &:link {
    color: #006064;
  }

  &:visited {
    color: #006064;
  }

  &:hover {
    color: #0097a7;
  }

  &:active {
    color: #0097a7;
  }
}